/*------------------------------
WIDGET PANIER
--------------------------------*/
.widget-panier {
	position: absolute;
	padding: 0 20px;
	right: 0;
	top: 0;
	height: 40px;
	width: 15%;
}
.widget-panier.panier-full{
	background: #e1312c;
}
.bucket {
	background: url('../images/svg-app/cart-fff.svg') no-repeat center center;
	background-size: 50%;
	color: #FFF;
	display: block;
	direction: ltr;
	float: left;
	line-height: 40px;
	height: 40px;
	text-indent: -999em;
	margin-left: 25%;
	width: 40px;
}
.bucket-qte {
	display: none;
	line-height: 28px;
	height: 30px;
	width: 30px;
	margin: 5px 0;
	float: left;
	border: 1px solid;
	color: #FFF;
	border-radius: 20px;
	text-align: center;
	font-size: 1rem;
	font-family: 'Titillium Web', sans-serif;
}
.bucket-qte.qte-on{
	display: block;
}
/*------------------------------
PAGE PANIER
--------------------------------*/
.tab-synthese,
.tab-bucket{
    display: table;
    width: 100%;
}
.tab-synthese-header,
.tab-bucket-header{
    border-bottom: 1px solid #9E9E9E;
}
.tab-synthese-header > div{
	clear: none;
	float: left;
}
.tab-synthese-header > li,
.tab-bucket-header > li {
    display: inline-block;
}
li.tab-synth .tab-cell,
li.tab-abo .tab-cell{
    clear: none;
    vertical-align: top;
    display: table-cell;
    float: left;
    margin: 0;
}
.tab-synthese-header label{
	width: 100%;
}
.tab-75{
    width: 75%;
}
.tab-70{
	width: 70%;
}
.tab-65{
	width: 65%
}
.tab-60{
	width: 60%;
}
.tab-55{
    width: 55%;
}
.tab-50{
	width: 50%;
}
.tab-45{
	width: 45%
}
.tab-40{
	width: 40%
}
.tab-35{
	width: 35%
}
.tab-30{
	width: 30%
}
.tab-25{
	width: 25%;
}
.tab-20{
    width: 20%;
}
tab-15{
	width: 15%;
}
.tab-10{
	width: 10%;
}
.tab-5-f{
	float: left;
	width: 5%;
}
.tab-5 {
    float: right;
    width: 4%;
}
.cd-price label{
    text-align: center;
    width: 92%;
}
.tab-abo .tab-cell li{
	float: none;
}
li.tab-synth,
li.tab-abo {
    float: left;
    width: 100%;
    padding: 15px 5px;
    position: relative;
    border-bottom: 1px solid #9E9E9E;
}
.tab-synthese-content li.tab-synth:nth-child(2n+2),
.tab-bucket-content li.tab-abo:nth-child(2n+2){
    background: #eee;
}
.tab-synthese-header label,
.tab-bucket-header label{
    color: #3B3B3B;
}
.tab-synthese-header .delete,
.tab-bucket-header .delete,
li.tab-abo .delete{
    direction: ltr;
    text-indent: -999em;
}
li.tab-synth h2,
li.tab-abo h2,
li.tab-abo .cd-price span{
    border: medium none;
    font-family: "Titillium Web",sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 10px;
    text-align: left;
}
li.tab-abo .cd-price span{
    color: #3B3B3B;
}
li.tab-abo .cd-pricing-features{
    float: left;
    padding: 0;
    width: auto;
}
li.tab-abo .tab-cell li{
    color: #9E9E9E;
    font-size: 1rem;
    line-height: 1;
}
li.tab-abo .cd-pricing-features li:before,
li.tab-abo .cd-pricing-features p:before{
    opacity: .4;
}
li.tab-abo .cd-pricing-features p:before{
    background: url("../images/svg/check-mark.svg") no-repeat scroll center center;
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -5px;
    width: 15px;
}
li.tab-abo .cd-pricing-features p {
    color: #9E9E9E;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    position: relative;
    color: #9E9E9E;
    float: left;
}
.cd-price{
    text-align: center;
}
.qte a,
.qte input{
    display: inline-block;
    text-align: center;
    float: left;
}
.qte input{
    height: 50px;
    width: 50px;
}
.qte a{
    background-color: #3B3B3B;
    color: #FFF;
    line-height: 50px;
    width: 50px;
}
.delete input[type="reset"]{
    display: block;
    direction: ltr;
    background: url('../images/svg/delete.svg') no-repeat center top;
    background-size: 100%;
    border: none;
    height: 20px;
    text-indent: -999em;
    transition: none;
    margin: 0 auto;
    padding: 0;
    width: 15px;
}
.delete input[type="reset"]:hover{
    background-position: center bottom;
    border: none;
}
.tab-bucket-total li.tab-abo{
    border: none;
}
.tab-total{
    padding-right: 20px;
    text-align: right;
    text-transform: uppercase;
}
.tab-total-ht
.tab-total-ttc{
    text-align: center;
}
.tab-bucket-commande input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    border: 2px solid #64C1D1;
    color: #64C1D1;
    cursor: pointer;
    margin: 20px 0 0;
    text-transform: uppercase;
}
.tab-bucket-commande input[type="submit"]:hover,
.tab-bucket-commande input[type="submit"]:active,
.tab-bucket-commande input[type="submit"]:focus{
    color: #FFFFFF;
    background-color: #E1312C;
    border: 2px solid #E1312C;
}
.tab-abo label{
    width: 20%;
}
.tab-abo span{
	line-height: 1.9;
}
.tab-abo p{
    text-transform: uppercase;
}
.buy-profil{
	margin-top: 20px;
}
.tab-bucket h3{
	color: #64c1d1;
	font-size: 2rem;
}
.tab-abo .portrait{
	width: 10%;
}
.tab-bucket-commande{
	clear: both;
}
.paiement-choice input{
	width: auto;
}
.paiement-choice label{
	float: none;
}
.group-buttons{
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}
.group-buttons input,
.group-buttons a{
	display: inline-block;
	width: 25%;
}
.group-buttons a button{
	width: 100%;
}
.link-comp{
	text-decoration: underline;
}