/*------------------------------
< 1440PX
--------------------------------*/
@media screen and (max-width : 1440px) {
	.portrait.portrait-entreprise{
		height: 158px;
	}
    .cv-entreprises a.tab4{
	    line-height: 1;
		height: 100px;
		padding-top: 18%;
    }
    .cv-entreprises a.tab5{
	    height: 100px;
    }
    .cv-entreprises a.tab2 span.txtNbre,
    .cv-entreprises a.tab3 span.txtNbre {
	font-size: 1.15rem;
}
    .cv-entreprises .buy [class*="cd-pricing-header"] h2{
	    font-size: 60%;
    }
    .cv-entreprises .buy [class*="cd-pricing-header"] span{
	    font-size: 85%;
    }
    .cv-entreprises .cd-pricing-footer{
		left: 11px;
	}
	.cv h2{
		font-size: 2.15rem;
	}
	.cv h3{
		font-size: 1.5rem;
	}
	.ref{
		height: 45px;
	}
	.ref li{
		font-size: 1.15rem;
		line-height: 45px;
	}
	.filter-col {
		float: left;
		width: 70%;
	}
	.filter label{
		width: 100%;
	}
	.dropdown{
		width: 188px;
	}
	.filter label.label-view {
		margin: 0;
		width: 100%;
	}
	.filter label.label-view {
		margin: 0;
		width: 100%;
		text-align: right;
	}
    [class*="cd-pricing-header"] h2{
	    font-size: 1.15rem;
    }
    [class*="cd-pricing-header"] span{
	    font-size: 2rem;
    }
    .cd-pricing-footer{
		left: 22px;
	}
	.tab .cv-contener-ope li{
		font-size: 1rem;
	}
}
/*------------------------------
< 1370px
--------------------------------*/

@media screen and (max-width : 1370px){
	.page-login .image-featured{
		height: 225px;
	}
	.cv-entreprises .cd-pricing-footer {
		left: 8px;
	}
	.cd-pricing-footer {
		left: 18px;
	}
	.cd-pricing-features {
		padding: 30px;
	}
	.cd-pricing-features p {
		font-size: 1.2rem;
	}
	.tab {
		min-height: 699px;
	}
	.tabs li a{
		font-size: 1rem;
	}
	.cv-entreprises a.tab4,
	.cv-entreprises a.tab5,
	.cv-entreprises a.tab6{
		padding-top: 22%;
	}
	.cv h2 {
		font-size: 2rem;
	}
	.list .titleInterest{
		margin-top: 40px;
	}
	.filter-col{
		width: 80%;
	}
	.cv-entreprises .tabs li a,
	.cv-entreprises a.tab1.activate{
		background-size: 40px;
	}
	.seperate{
		margin-top: 10px;
	}
	.pres .left-col {
	width: 45%;
	}
	.pres .right-col {
	width: 50%;
	}
	.portrait.portrait-entreprise img{
		width: 130px;
	}
	.cv-resume .portrait {
		float: none;
		margin: 0 auto;
	}
	.cv-resume .cv-text,
	.cv-resume .ref li{
		text-align: center;
		width: 100%;
	}
	.cv-resume h2,
	.cv-resume h3{
		text-align: center;
	}
	.btnRadio{
		clear: both;
		float: none;
	}
}
/*------------------------------
< 1280px
--------------------------------*/

@media screen and (max-width : 1280px){
    .cv-entreprises .image-featured::after {
		left: 0;
	}
    [class*="cd-pricing-header"]{
        width:35%;
    }
    .cd-pricing-footer{
        bottom: 35px;
        left: 15px;
    }
    .cd-pricing-features{
        padding: 20px 10px;
    }
    [class*="cd-pricing-header"] h2{
        font-size: 1.5rem;
    }
    [class*="cd-pricing-header"] span{
        font-size: 2rem;
    }
    .cd-pricing-features p:before{
        left: -3px;
    }
    .cd-pricing-features p{
        font-size: 1.15rem;
    }
    .portrait {
		height: 95px;
	}
}

/*------------------------------
< 1024px
--------------------------------*/

@media screen and (max-width : 1024px){
	.image-featured::after {
		background: none;
	}
	.cv-entreprises .tab{
		padding: 3.1%;
	}
	.cv-entreprises .cv-tabs-inner{
		top: 0;
	}
	.cv-entreprises .tabs{
		height: 100px;
	}
	.cv-entreprises .tabs li a {
		height: 100px;
		line-height: 100px;
	}
	.cv-entreprises a.tab2,
	.cv-entreprises a.tab3,
	.cv-entreprises a.tab2.activate,
	.cv-entreprises a.tab3.activate {
		padding: 5px 10px;
	}
	.cv-entreprises a.tab2 span,
	.cv-entreprises a.tab3 span{
		width: 75%;
	}
	.cv-entreprises a.tab2 span.nbre,
	.cv-entreprises a.tab3 span.nbre {
		font-size: 2.75rem;
	}
	.cv-entreprises a.tab4, .cv-entreprises a.tab5 {
		padding-top: 0;
	}
	.cv-entreprises a.tab6{
		line-height: 1;
		padding-top: 15%;
	}
	.portrait.portrait-entreprise{
		width: 16%;
	}
	.cv-entreprises .cv-content{
		clear: none;
		float: left;
	}
	.cv-resume.list .portrait{
		float: left;
		width: 16%;
	}
	.list .buttonResume a{
		line-height: 66px;
	}
	.cv-resume.list .cv-text{
		width: 80%;
	}
}

/*------------------------------
< 768px
--------------------------------*/
@media screen and (max-width : 768px){
	.cv-entreprises .cv{
		width: 100%;
	}
	.cv-entreprises .image-featured{
		padding-right: 10px;
	}
	.cv-entreprises .image-featured h1 {
		font-size: 2.5rem;
	}
	.cv-entreprises .featured-inscription h3{
		font-size: 1.5rem;
	}
	.cv-entreprises .portrait.portrait-entreprise {
		height: 115px;
	}
	.cv-entreprises .featured p{
		padding: 0;
	}
	.cv-entreprises .tabs li a.tab4{
		line-height: 1;
		padding-top: 35px;
		width: 100%;
	}
	.cv-content-inner.cv-content-inner-ope{
		float: none;
		margin-right: 0;
		padding: 0;
		width: 100%;
	}
	.tab .cv-contener-ope li{
		width: 100%;
	}
	.op-candidat-exp{
		flex-direction: column;
	}
	.btnOpe .btnOpeView input[type="checkbox"] + label,
	.btnOpeModif a,
	.btnOpeVoir a.voir-profil{
		background-size: 25%;
	}
	.btnOpe .bntOpeDelete input[type="checkbox"] + label{
		background-size: 20%;
	}
}