/*------------------------------
BODY
--------------------------------*/
.single-ficheentreprise {
    background: #64c1d1;
}
.single-fichecandidat,
.page-id-110 {
    background: #91B841;
}
.page-id-5{
	background: #e7e7e7;
}
.overlay{
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}
.overlayOn{
	display: block;
	opacity: .8;
}
/*------------------------------
CENTRER LE SITE
--------------------------------*/

.wrapper {
    background: none repeat scroll 0 0 #ffffff;
    margin: 0 auto;
    padding: 0 40px;
    width: 81.35%;
}
.featured-inscription.wrapper{
	padding-bottom: 40px;
}
.nav-widget .wrapper{
	background: none;
	position: relative;
}
/*------------------------------
BOUTON UP
--------------------------------*/

.btn_up {
    background: url("../images/svg/fleche-retour.svg") no-repeat center center;
    background-color:#75736F;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 55px;
    opacity: 1;
    position: fixed;
    right: 0px;
    width: 55px;
    z-index: 99;
    /**/
    -moz-transition: background-color 0.25s ease-in-out 0s;
    -o-transition: background-color 0.25s ease-in-out 0s;
    -webkit-transition: background-color 0.25s ease-in-out 0s;
    transition: background-color 0.25s ease-in-out 0s;
}
.btn_up:hover {
    background-color: #e1312c;
}
/*------------------------------
MAIN
--------------------------------*/
.featured {
    padding-top: 175px;
}
.home .featured{
	padding-top: 135px;
}
/*------------------------------
CONTACT
--------------------------------*/

.featured-contact-content {
    padding-top: 105px;
}
/*------------------------------
HEADER
--------------------------------*/
.header{
	background: #FFF;
	height: auto;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 400;
}
/*-------RETOUR ACCUEIL---------*/

#title {
    float: left;
    padding: 2rem 2rem 0;
    width: 22%;
}
/*-------NAV-WIDGET---------*/

#nav-widget {
    background: #3b3b3b;
    height: 40px;
    overflow: hidden;
}
#content-nav-widget {
    float: right;
}
.elmts-widget-nav {
    float: left;
}
.none,
span.screen-reader-text {
    display: none;
}
/*-------RECHERCHE---------*/

.search-field {
    border: medium none;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    transition: width 0.25s ease 0s;
    width: 180px;
}
.search-field:focus {
    width: 800px;
}
.search-submit,
.search-submit:hover,
.search-submit:focus,
.search-submit:active {
    background: url("../images/svg/search-icon.svg") no-repeat scroll center center / 65% auto rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    direction: ltr;
    height: 40px;
    line-height: 40px;
    text-indent: -999rem;
    width: 40px;
}
.search-submit:hover,
.search-submit:focus,
.search-submit:active{
	background-color:#101010;
}
.searchwp-live-search-results {
    background: none repeat scroll 0 0 #e7e7e7 !important;
    border: 5px solid #3b3b3b;
    border-radius: 0px !important;
    box-shadow: none !important;
    box-sizing: border-box;
    max-height: 300px;
    min-height: 175px;
    width: 315px;
}
.searchwp-live-search-result a {
    color: #3b3b3b;
    display: block;
    font-size: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.searchwp-live-search-result a:hover {
    color: #e1312c;
}
.searchwp-live-search-no-results rem {
    color: #e1312c !important;
    font-size: 1.8rem !important;
    text-align: center;
}
/*-------CONNEXION---------*/

#meta_widget_customizer > ul > * {
    padding: 0 !important;
}
#meta_widget_customizer li {
    float: left;
    transition: background .25s ease-in-out;
}
#meta_widget_customizer li a {
    color: #e7e7e7;
    display: block;
    font-size: 1.5rem;
    line-height: 40px;
    text-transform: uppercase;
}
.connect {
    padding: 0 20px;
}
.off,
.on {
    margin: 0 20px 0 0;
    padding: 0 40px 0 20px;
}
.off {
    background: url("../images/svg/connect-icon.svg") no-repeat scroll right center / 18% auto rgba(0, 0, 0, 0);
}
.on {
    background: url("../images/svg/deconnect-icon.svg") no-repeat scroll right center / 13% auto rgba(0, 0, 0, 0);
}
#meta_widget_customizer li:hover {
    background: #101010;
}

/*------------------------------
SLIDER
--------------------------------*/

.featured-slider {
    background: none repeat scroll 0 0 #D0D0D0;
}
.featured-slider .wrapper{
	padding: 0;
}
.rslides li{
	list-style: outside none none;
	max-height: 392px;
	overflow: hidden;
}
.rslides img {
    width: 100%;
}
.content-slider {
    position: relative;
}
/*
NAV SLIDER
------------------------------*/

.rslides_tabs {
	bottom: -30px;
    left: 42.5%;
    margin: 40px auto 0;
    padding: 0;
    position: absolute;
    width: 220px;
    z-index: 99;
}
.rslides_tabs li a {
    background: none repeat scroll 0 0 #d4c13f;
    display: block;
    float: left;
    height: 5px;
    margin: 0 35px 0 0;
    text-indent: -99999rem;
    width: 50px;
    transition: background 0.45s ease-in-out 0s;
}
.rslides_tabs li:last-child a,
.entreprises .rslides_tabs li:last-child a {
    margin: 0;
}
.rslides_tabs li a:hover,
.rslides_tabs li.rslides_here a,
.entreprises .rslides_tabs li a:hover,
.entreprises .rslides_tabs li.rslides_here a {
    background: #e1312c;
}
.entreprises .rslides_tabs li a {
    background: #64C1D1;
}
.entreprises .rslides_tabs {
    width: 16.5%;
}
.entreprises .rslides_tabs li a {
    margin: 0 13% 0 0;
}
/*-------LÉGENDE---------*/

.featured-content {
    bottom: 0;
    padding: 10px;
    position: absolute;
}
.slide-post-5 {
    background: rgba(100, 193, 209, .8);
}
.slide-post-12 {
    background: rgba(145, 184, 65, .8);
}
.slide-post-14 {
    background: rgba(129, 59, 113, .8);
}
.featured-content p {
    font-size: 2rem;
    line-height: 1.5;
}
.featured-meta a {
	background: rgba(0, 0, 0, 0) url("../images/svg/link-fleche.svg") no-repeat scroll right center;
	color: #ffffff;
	display: block;
	float: right;
	font-family: "Titillium Web",sans-serif;
	font-size: 1.85rem;
	font-weight: 700;
	height: auto;
	opacity: 1;
	text-transform: uppercase;
	transition: opacity 0.45s ease-in-out 0s;
	width: 200px;
}
.slideTitle a:hover {
    opacity: .7;
}


/*------------------------------
PROFIL
--------------------------------*/
.intro-profil {
  background: #e7e7e7 none repeat scroll 0 0;
}
.intro-profil .wrapper,
.current-text .wrapper,
.featured-partner .wrapper{
	padding: 40px;
}
.smart {
    display: none;
}
.featured-profil-content {
    padding-top: 80px;
}
.entry {
    background: none repeat scroll 0 0 #E7E7E7;
    float: left;
    height: auto;
    position: relative;
    text-align: center;
    width: 33%;
}
.text {
    height: 100%;
    opacity: 0;
    padding: 2%;
    position: absolute;
    top: 0;
    transition: opacity 1s ease 0s;
    width: 100%;
    ;
}
a.content-entry:hover .text {
    opacity: 1;
    text-decoration: none;
}
#candidats {
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
}
.entry h4 span {
    background: url('../images/svg/icons-profils.svg') no-repeat;
    background-size: 92% auto;
    display: block;
    height: 285px;
    margin: 0 auto;
    text-decoration: none;
    width: 285px;
    ;
}
.entry aside {
    height: auto;
    padding: 10px 10px 30px;
}
.entry .text {
    background-position: 50% 90%;
    background-size: 10% auto;
}
/*-------entreprises---------*/

.title-Entreprises {
    color: #64c1d1;
}
.text-Entreprises {
    background: url('../images/svg/link-fleche.svg') no-repeat #64C1D1;
}
.entry h4.title-Entreprises span {
    background-position: center 27px;
}
/*-------candidats---------*/
.entryCandidats{
	margin: 0 .5%;
}
.title-Candidats {
    color: #91B841;
}
.text-Candidats {
    background: url('../images/svg/link-fleche.svg') no-repeat #91B841;
}
.entry h4.title-Candidats span {
    background-position: center 50%;
}
/*-------opérateurs---------*/

.title-Opérateurs {
    color: #813b71;
}
.text-Opérateurs {
    background: url('../images/svg/link-fleche.svg') no-repeat #813b71;
}
.entry h4.title-Opérateurs span {
    background-position: center bottom;
}
#consult {
    margin-bottom: 1.5rem;
}
/*------------------------------
PROFIL-TEST
--------------------------------*/
.cv {
	margin: 40px auto 0;
	width: 81.35%;
}
.single-ficheentreprise .cv {
    background: #64C1D1;
}
.operateurs .cv {
    background: #813b71;
}
.cv-content-inner {
    padding: 40px;
}
.cv-content {
    background: none repeat scroll 0 0 #FFFFFF;
	float: left;
    width: 85%;
}
.portrait {
    background: #EEE;
    float: left;
    height: 130px;
    margin: 0 2% 0 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
    width: 130px;
}
.portrait img{
	max-width: none;
	width: auto;
	height: 100%;
}
.cv-text{
	float: right;
	width: 80%;
}
.ref {
	border-bottom: 1px dashed #8c8c8c;
	border-top: 1px dashed #8c8c8c;
	display: block;
	float: left;
	height: 160px;
	margin: 30px 0 0;
	width: 100%;
}
.ref li {
	font-size: 1.5rem;
	line-height: 60px;

}
.ref li:first-child {
    float: left;
}
.ref li:last-child {
	color: #e1312c;
	float: right;
}
/*----------------------TABS-------------------*/
.cv-tabs-inner {
	float: right;
	position: relative;
	top: -100px;
	width: 15%;
}
.content-tab {
	background: #ffffff none repeat scroll 0 0;
	float: left;
	width: 85%;
}
.cv-tabs{
	clear: both;
}
.tab-ope-synth,
.tab {
	min-height: 736px;
	padding: 0 3.1% 3.1%;
}
.tabs {
    margin: 0;
    padding: 0;
    white-space: normal;
}
a.btn{
	display: block;
	direction: ltr;
	float: left;
	height: 100px;
	text-indent: -999em;
	width: 50%;
	/**/
    -webkit-transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-ms-transition: background .25s ease-in-out;
	-o-transition: background .25s ease-in-out;
	transition: background .25s ease-in-out;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
a.btn.edit:hover,
a.btn.edit:focus,
a.btn.edit:active,
a.btn.edit.edit-on,
a.btn.share:hover,
a.btn.share:focus{
	background-color:#e1312c;
}
a.btn.edit{
	background:#3B3B3B url("../images/svg/edition.svg") no-repeat center center;
}
a.btn.share{
	background:#4B4B4B url("../images/svg/share.svg") no-repeat center center;
}
.tabs > li {
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 0 0 1px 0;
    width: 100%;
}
.tabs li a {
	background-color: #688629;
    color: #91B841;
    display: block;
    font-size: 1.15rem;
    height: 100%;
    line-height: 120px;
    padding: 0 40% 0 0;
    position: relative;
    text-align: right;
    text-decoration: none;
    width: 100%;
    z-index: 2;
 }
.tabs li a:hover {
    color: #FFF;
}
.tabs li a.activate:hover{
    color: #91B841;
    cursor: auto;
}
a.tab1{
	background: url('../images/svg/presentation.svg') no-repeat right 15px center;
	}
a.tab2{
	background: url('../images/svg/competences.svg') no-repeat right 15px center;
}
a.tab3{
	background: url('../images/svg/synthese.svg') no-repeat right 15px center;
}
a.tab4{
	background: url('../images/svg/document.svg') no-repeat right 15px center;
}
a.tab5{
	background: url('../images/svg/resume.svg') no-repeat right 15px center;
}
a.tab1.activate,
a.tab2.activate,
a.tab3.activate,
a.tab4.activate,
a.tab5.activate {
	background-color: #FFF;
	color: #91B841;
}
.tabs li a::before{
	background-color: #e1312c;
	bottom: 0;
	content: "";
	display: block;
	height: 5px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 0;
	/**/
    -webkit-transition: background .25s ease-in-out, width .25s ease-in-out;
	-moz-transition: background .25s ease-in-out, width .25s ease-in-out;
	-ms-transition: background .25s ease-in-out, width .25s ease-in-out;
	-o-transition: background .25s ease-in-out, width .25s ease-in-out;
	transition: background .25s ease-in-out, width .25s ease-in-out;

}
.tabs li a.activate::before{
	background-color: #FFF;
}
.tabs li a:hover::before{
	width: 100%;
}



/*------------------------------
RIGHT & LEFT COL
--------------------------------*/
.chartt{
	float: left;
	width: 100%;
}
.head {
    float: left;
    width: 100%;
}
.head-right {
    float: right;
}
.tab-head{
    background: none repeat scroll 0 0 #91B841;
    color: #FFFFFF;
    line-height: 1;
	margin: 20px 0 10px;
    padding: 4px 11px;
    text-transform: uppercase;
}
.tab-tech{
	background: #64C1D1;
}
.tab-assoc{
	background: #813B71;
}
.tab-supp{
	background: #E1312C;
}
.single-ficheentreprise .tab-head {
    background: none repeat scroll 0 0 #64c1d1;
}
.single-ficheentreprise .col-candidats .tab-head,
.operateurs .col-candidats .tab-head,
.admin .col-candidats .tab-head {
    background: none repeat scroll 0 0 #91B841;
}
.single-ficheentreprise .col-operateurs .tab-head,
.operateurs .col-operateurs .tab-head,
.admin .col-operateurs .tab-head {
    background: none repeat scroll 0 0 #813b71;
}
.operateurs .tab-head {
    background: none repeat scroll 0 0 #813B71;
}
.operateurs .col-entreprises .tab-head,
.admin .col-entreprises .tab-head {
    background: none repeat scroll 0 0 #64c1d1;
}
.admin .tab-head {
    background: none repeat scroll 0 0 #B0AEAA;
}
#tabs-2 .tab-head {
    margin-top: 10px;
}
.admin #tabs-2 .tab-head {
    margin-top: 0;
}
.quest .right-col .tab-head,
.othertest,
.tabdocs {
    background: none repeat scroll 0 0 #b0aeaa;
}
.docs .synt {
    margin-bottom: 10px;
}
.docs .synt li + li {
    margin-top: 10px;
}
/*---------------------------
COLONNES
-----------------------------*/
.col {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
.left-col {
    float: left;
}
.right-col {
    float: right;
}
.pres .left-col {
    width: 35.8521%;
}
.entreprises .pres .left-col {
    width: 25%;
}
.pres .right-col {
    width: 62.297%;
}
.entreprises .pres .right-col {
    margin-bottom: 2%;
    width: 72%;
}
.competences .left-col,
.quest .left-col {
    width: 50.92557%;
}
.competences .right-col,
.quest .right-col {
    width: 47.07443%;
}
.docs .left-col,
.coord .left-col,
.docs .right-col,
.coord .right-col,
.qrcode {
    width: 49%;
}
.coord .left-col {
    margin-bottom: 2%;
}
.tabcoord {
    clear: both;
}
.coord .synt {
    margin-bottom: 2%;
}
/*-------VIDEO---------*/

.rembed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.rembed-container iframe,
.rembed-container object,
.rembed-container rembed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-------TAB---------*/

.list-caract {
    clear: both;
}
.caract li {
    background: #b0aeaa;
}
.caract li:nth-child(2n) {
    background: #91B841;
}

/*------------------------------
BLOC ASSOCIÉS
--------------------------------*/
.bloc-associate {
	margin-top: 30px;
}
.bloc-associate .wrapper {
	padding-top: 40px;
}
.bloc-associate h5 {
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	border-bottom: 1px dashed;
	margin: 0 0 40px;
	padding-bottom: 20px;
}
.bloc-associate p{
	display: block;
	margin-bottom: 5px;
}

/*------------------------------
PARTENAIRES
--------------------------------*/
.featured-partner p{
	text-align: center;
}
.partner-content{
	margin-top: 40px;
}
.partner-content > li{
	width: 25%;
	float: left;
	border: 1px solid #eeeeee;
	margin-left: -1px;
	margin-top: -1px;
}
.partner-content > li:hover img{
	opacity: .5;
	/**/
	-webkit-transition: all .85ms ease-in-out;
	-moz-transition: all .85ms ease-in-out;
	-ms-transition: all .85ms ease-in-out;
	-o-transition: all .85ms ease-in-out;
	transition: all .85ms ease-in-out;
}

/*------------------------------
FOOTER
--------------------------------*/
#footer {
	background: #e7e7e7;
	margin: 20px 0;
}
.scop{
	background: rgba(0, 0, 0, 0) url("../images/png/lescop-logo.png") no-repeat scroll center top;
	direction: ltr;
	display: block;
	height: 43px;
	text-indent: -999rem;
	width: 97px;
}