form {
 background-color:#FAFAFA;
 padding:10px;
 width:90%;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 font-size:12px  ;
 }
  .tabl {
 margin: 0 auto;
 border:1px solid #0000ff !important;

 }
   .tabl  td{

 border:1px solid #0000ff !important;

 }
 fieldset p{
  font-size:12px  ;
 }
legend {

 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:10px;
 width:100%;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
font-size:12px  ;
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }
 .faq {
	counter-reset: my-badass-counter;
	font-size:12px  ;
}
.faq dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
}
 table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;

    font-weight: bold;

}
/*****************************/
input[type="range"] {
    position: relative;
    margin-left: 1em;
	 width:200px;
	 color:#ff0000;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}