@media screen and (min-width : 1200px){
	*:focus {
		box-shadow: inset 0px 0px 3px 1px #0ff;
	}

	*::-moz-focus-inner {
		box-shadow: inset 0px 0px 3px 1px #0ff;
	}
	.site-navigation-widgets{
		padding-right: 17.5%;
	}
	#mega-menu-wrap-primary{
		#mega-menu-primary{
			padding: 0 3%;

			li#mega-menu-item-227{
				margin-right: 4%;
				img{
					width: 130px;
				}
			}
			li.mega-menu-item{
				margin: 0 1%;
				a.mega-menu-link{
					.relative();
					font-size: 16px;
					padding: 0 10px;
				}
			}
		}
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-6{
		width: 17.667%;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu #mega-menu-item-213{
		width: 20%
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu #mega-menu-item-197{
		width: 23%;
	}
	/*------------------------------
	ANNONCE LADAPT
	--------------------------------*/
	.footer-advertise-ladapt{
		background-position: center top 25px !important;
		background-size: 23% !important;
		.PaddingTop(50);
		.PaddingBottom(50);
	}
	.footer-copyright-ladapt{
		.PaddingBottom(15);
	}
	/*------------------------------
	JOBS
	--------------------------------*/
	.list-items-jobs{
		.slick-arrow{
		top: 6%;
			i{
				color: @Gris;
				.fontSize(50);
			}
		}
		.slick-prev{
			.Left(10);
		}
		.slick-next{
			.Right(10);
		}
	}
	/*------------------------------
	FOOTER
	--------------------------------*/
	.site-footer-container{
		.footer-widgets{
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
			.col-footer{
				.PaddingTop(30);
			}
		}
		.col-site-map{
			margin: 0 3%;
		}
	}
	.site-footer-navigation-container{
		li{
			a{
				&:hover,
				&:focus,
				&:active{
					color: @Bleu-dark;
				}
			}
		}
	}
	.col-contact{
		a{
			&:hover,
			&:focus,
			&:active{
				color:@Bleu-dark;
			}
		}
		.widgets-contacts-footer{
			.PaddingTop(30);
		}
	}
}