@media screen and (min-width : 1400px){
	/*------------------------------
	ACCESS ACCOUNT
	--------------------------------*/
	.content-access-account{
		.col-account{
			.PaddingLeft(150);
			.PaddingRight(150);
		}
	}
	/*------------------------------
	ANNONCE LADAPT
	--------------------------------*/
	.footer-advertise-ladapt{
		background-position: center top 25px !important;
		background-size: 15% !important;
		.PaddingTop(50);
		.PaddingBottom(50);
	}
}