@media screen and (min-width : 1900px){
	#mega-menu-wrap-primary{
		#mega-menu-primary{
			padding: 0 16%;

			li#mega-menu-item-227{
				margin-right: 10%;
				img{
					width: 130px;
				}
			}
			li.mega-menu-item{
				margin: 0 1%;
				a.mega-menu-link{
					.relative();
					font-size: 16px;
					padding: 0 10px;
				}
			}
		}
	}
	/*------------------------------
	ACCESS ACCOUNT
	--------------------------------*/
	.content-access-account{
		.col-account{
			.PaddingLeft(150);
			.PaddingRight(150);
		}
	}
	/*------------------------------
	ANNONCE LADAPT
	--------------------------------*/
	.footer-advertise-ladapt{
		background-position: center top 25px !important;
		background-size: 15% !important;
		.PaddingTop(50);
		.PaddingBottom(50);
	}
}