	.site-navigation-widgets{
		background-color: @Bleu-dark;
		border-top: 1px solid @White;
		.Bottom(0);
		color: @White;
		.fixed();
		width: 100%;
		i{
			color: @White;
		}
		.site-social-navigation-container{
		}
		.site-account-navigation{
			border-right: 1px solid @White;
			.relative();
			z-index: 2;
			li{
				a{
					color: @White;
					display: block;
					text-decoration: none;
					.robotoCBold();
					.fontSize(14);
					.lineHeight(40);
					padding: 0 15px;
					i{
						.fontSize(12);
						.MarginLeft(10);
						&:before{
							.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
							.transformR(@r:-90deg);
							display: inline-block;
						}
					}
				}
				a.menu-account-on{
					i{
						&:before{
							.transformR(@r:90deg);
						}
					}
				}
			}
			ul.sub-menu{
				.absolute();
				.transform(@x:-240px, @y:-180px);
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
				width: 100%;
				li{
					a{
						color: @Bleu-dark;
						.robotoCBold();
						text-transform: uppercase;
						i{
							color: @Bleu-dark;
							&:before{
								color: inherit;
								.transformR(@r:0deg);
							}
						}
					}
				}
				li.candidats{
					background-color: @Candidats;
				}
				li.entreprises{
					background-color: @Entreprises;
				}
				li.connecte{
					background-color: @Gris-light;
				}
			}
			ul.sub-menu.sub-menu-account-on{
				width: 100%;
				.transform(@x:0, @y:-180px);
			}
		}
	}