/*------------------------------
SECTION-PRIMARY
--------------------------------*/
.content-primary{
	background: @white;
	.PaddingTop(152);
}
.home{
	.section-primary{
		background-color: @Bleu-dark !important;
		background-position: -260px 75px !important;
		background-size: 200% !important;
	}
}
.container-article-primary{
	.PaddingBottom(30);
	.PaddingTop(125);
	.btn-link-about{
		text-align: center;
	}
	button{
		color: @white;
		width: 25%;
	}
	p{
		margin-bottom: 0;
	}
}
.breadcrumbs{
	color: @Breadcrumbs;
	.MarginBottom(10);
	.MarginTop(0);
	a{
		color: @Breadcrumbs;
		text-decoration: none;
		text-transform: uppercase;
	}
	.text-bread-home{
		display: inline-block;
		text-indent: -999em;
	}
	.current-item{
	color: @Bleu-dark;
	.robotoCBold();
	}
}
.page-template{
	footer{
		.MarginTop(15);
	}
}
/*------------------------------
NAVIGATION
--------------------------------*/
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block{
	.Height(40);
	span{
		color: @Bleu-dark;
	}
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-2{
	&:after{
	color: @Bleu-dark;
	}
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right{
	.PaddingRight(10);
}
/*------------------------------
HOME PRIMARY
--------------------------------*/

/*------------------------------
ACCESS ACCOUNT
--------------------------------*/
.col-candidats,
.col-entreprises{
	a{
		display: inline-block;
		.MarginRight(15);
		&:last-child{
			margin: 0;
		}
	}
	h2{
		font-size: 26px;
		.MarginBottom(15);
		span{
			.robotoSBold();
			font-size: 36px;
		}
	}
}
.col-candidats{
	background-color: @Candidats;

}
.col-entreprises{
	background-color: @Entreprises;
}
.btn-white,
.btn-blue,
.btn-annonces{
	text-decoration: none;
	button{
		i{
			.MarginLeft(15);
		}
	}
}
.btn-white{
	button{
		background-color: @white;
	}

}
.btn-blue{
	button{
		border-color: @Bleu-dark;
	}
}
.btn-annonces{
	button{
		border-color: @Gris-lightdble;
	}
}
.content-job-offers,
.content-recruit-company{
	.Padding(40);
	.PaddingLeft(20);
	.PaddingRight(20);
	h2{
		.robotoSReg();
		text-align: center;
	}
}
.content-recruit-company{
	background-color: @Gris-light;
	h2{
		color: @Gris;
	}
}
/*------------------------------
LASTEST JOB OFFERS
--------------------------------*/
.home{
	.content-primary{
		a{
			text-decoration: none;
		}
		.content-article-primary{
			h1{
				color: @white;
			}
			p{
				color: @white;
			}
		}
	}
}
.social-link-menu{
	display: block;
	text-indent: -999em;
	direction: ltr;
}
.container-article{
	background-color: @white;
}
.featured-article{
	.Height(100);
	overflow: hidden;
	.MarginBottom(15);
}
.page-introduction{
	.robotoCBold();
	.fontSize(22);
}
.container-content-page-article{
	.row{
		.MarginTop(16);
	}
}
/*------------------------------
NAVIGATION WIDGETS BOTTOM
--------------------------------*/
.site-navigation-widgets{
	background-color: @Bleu-dark;
	border-top: 1px solid @white;
	.Bottom(0);
	color: @white;
	.fixed();
	height: 50px;
	width: 100%;
	i{
		color: @white;
	}
	.site-social-navigation-container{
	.relative();
	.MarginLeft(-20);
	width: 50%;
	}
	.site-account-navigation-container{
		.relative();
		width: 50%;
		&:after{
			content:'';
			border-right: 1px solid @white;
			height: 50px;
			.absolute();
			margin: -44px 0;
			right: 0;
		}
	}
	.site-social-navigation{
		.Height(40);
		li{
			.MarginLeft(10);
			.MarginRight(10);
			.Height(25);
			a{
				color: @Gris;
				display: block;
				.Height(25);
				i{
					&:before{
						display: block;
						.lineHeight(25)
					}
				}
			}
		}
	}
	.site-account-navigation{
		.relative();
		z-index: 2;
		li{
			a{
				color: @white;
				display: block;
				text-decoration: none;
				.robotoCBold();
				.fontSize(14);
				.lineHeight(16);
				padding: 0 10px;
				text-transform: uppercase;
				i{
					.fontSize(12);
					.MarginLeft(10);
					&:before{
						.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
						.transformR(@r:-90deg);
						display: inline-block;
					}
				}
			}
			a.menu-account-on{
				i{
					&:before{
						.transformR(@r:90deg);
					}
				}
			}
		}
		ul.sub-menu{
			.absolute();
			.transform(@x:-100%, @y:-165px);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			width: 200%;
			li{
				.Padding(10);
				a{
					color: @Bleu-dark;
					.robotoCBold();
					text-transform: uppercase;
					i{
						color: @Bleu-dark;
						&:before{
							color: inherit;
							.transformR(@r:0deg);
						}
					}
				}
			}
			li.candidats{
				background-color: @Candidats;
			}
			li.entreprises{
				background-color: @Entreprises;
			}
			li.connecte{
				background-color: @Gris-light;
			}
		}
		ul.sub-menu.sub-menu-account-on{
			.transform(@x:0, @y:-165px);
		}
	}
}

/*------------------------------
ACCOUNT
--------------------------------*/
.section-secondary{
	.row{
		margin: 0;
	}
}
.content-access-account{
	.col-account{
		.Padding(15);
		text-align: center;
		button{
			width: 100%;
		}
		.btn-white{
			.MarginBottom(15);
		}
		h2{
			span{
				.PaddingLeft(10);
			}
		}
	}
}
/*------------------------------
PARTENAIRES
--------------------------------*/
.content-recruit-company{
	h2{
		.MarginBottom(40);
	}
}
.list-items-partenaires{
	overflow: hidden;
}
.item-partenaire{
	float: left;
	.MarginLeft(20);
	.MarginRight(20);
	a{
		background-color: @white;
		.Padding(30);
	}
}
/*------------------------------
ANNONCE LADAPT
--------------------------------*/
.footer-advertise-ladapt{
	background-position: center top !important;
	.fontSize(26);
	.robotoCBold();
	text-align: center;
	.PaddingBottom(45);
	.PaddingTop(45);
	a{
		color: @white;
		text-decoration: none;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		span{
		background-color: @Bleu-dark;
		display: inline-block;
		.MarginTop(15);
		.Padding(5);
		}
		button{
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			text-transform: none;
			.fontSize(20);
			.robotoCBold();
			background-color: @white;
			margin: 15px auto;
			width: 70%;
		}
		&:hover{
			button{
				.transformS(@s:1.1);
			}
		}
	}
}
/*------------------------------
FOOTER
--------------------------------*/
.site-footer-container{
	background-color: @Gris-light;
	.footer-widgets{
		.PaddingTop(30);
		.PaddingBottom(0);
		li{
			a{
				color: @Gris;
				text-decoration: none;
			}
		}
	}
}
.site-footer-navigation-container{
	li{
		a{
			text-transform: uppercase;
		}
	}
	li.footer-niv1{
		.MarginBottom(30);
		a{
			.robotoCBold();
		}
	}
	.sub-menu{
		li{
			.MarginTop(5);
			.PaddingLeft(10);
			a{
				.robotoCReg();
			}
		}
	}
}
.site-copyright-navigation-container{
	li{
		&:last-child{
			.MarginTop(15);
		}
	}
}
.col-contact{
	background-color: @Gris-lightdble;
	.MarginTop(30);
	.widgets-contacts-footer{
		.Padding(20);
	}
	.widget-contact-text-6{
		background-color: @Gris-light;
		margin-left: -15px;
		margin-right: -15px;
	}
	h4{
		.robotoSReg();
		.fontSize(24);
		text-transform: none;
		color: @Gris;
	}
	p{
		color: @Gris;
		margin: 0;
		.MarginTop(10);
	}
	a{
		color: @Gris;
		text-decoration: none;
		box-shadow: none;
	}
}
.widgets-contacts-footer{
	h4{
		&:before{
			display: block;
			float: left;
			.Mify();
			.fontSize(40);
			color: @Gris;
			.Height(70);
			.Width(70);
			.MarginRight(15);
			.border-radius(@rad:50%);
			text-align: center;
			.lineHeight(70);
		}
	}
	.textwidget{
		.PaddingLeft(85);
	}
}
.widget-contact-text-5{
	h4{
		&:before{
			content: '\e6a4';
			background-color: @Gris-light;
		}
	}
}
.widget-contact-text-6{
	h4{
		&:before{
			content: '\e621';
			background-color: @Gris-lightdble;
		}
	}
}
.widget-contact-text-7{
	h4{
		&:before{
			content: '\e693';
			background-color: @Gris-light;
		}
	}
}
.footer-baseline,
.footer-copyright-ladapt{
	.fontSize(14);
	.Padding(15);
	.widget{
		border: none;
		padding: 0;
		margin: 0;
		p{
			margin: inherit;
		}
	}
}
.footer-baseline{
	background-color: @Bleu-dark;
	color: @white;
	.robotoCBold();
}
.footer-copyright-ladapt{
	background-color: @Bleu;
	color: @Bleu-light;
	text-align: right;
	padding-bottom: 65px;
}
/*------------------------------
JOBS
--------------------------------*/
.section-tertiary{
	.relative();
}
.list-items-jobs{
	.MarginBottom(30);
	.MarginTop(50);
	overflow: hidden;
	.slick-arrow{
		.absolute();
		.Bottom(115);
		i{
			color: @Gris;
			.fontSize(50);
		}
	}
	.slick-next{
		.Right(40);
	}
}
.btn-annonces{
	.MarginTop(90);
}
.item-job{
	border: 2px solid @Bleu-dark;
	float: left;
	.Padding(15);
	.MarginLeft(15);
	.MarginRight(15);
	text-align: center;
	a{
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: inherit;
		}
	}
	h2{
		.robotoSBold();
		font-size: 22px;
	}
	i{
		.MarginBottom(15);
		.MarginTop(15);
		color: @Bleu-dark;
		&:before{
			.fontSize(35);
		}
	}
	.item-job-company-name{
		background-color: @Gris-light;
		color: @Gris;
		.PaddingBottom(10);
		.PaddingTop(10);
		.MarginBottom(30);
		.MarginLeft(-15);
		.MarginTop(-15);
		.MarginRight(-15);
	}
	.item-job-location,
	.item-job-ref{
		margin: 0;
	}
	.item-job-location{
		color: @Bleu-dark;
	}
	.item-job-ref{
		color: @Gris;
	}
}
.item-job.item-job-inlist{
	border: none;
	text-align: left;
	.Padding(5);
	margin: 0;
	width: 100%;
	&:nth-child(2n){
		background-color: @Gris-light;
		.MarginTop(5);
		aside,
		header{
			border-right: 2px solid @white;
		}
	}
	aside,
		header{
			border-right: 2px solid @Gris-light;
		}
	h2,
	p,
	i,
	aside,
	header,
	footer{
		line-height: 1;
		.fontSize(18);
		padding: 0;
		margin: 0;
	}
	header{
		.MarginLeft(15);
		.MarginRight(15);
	}
	i{
		&:before{
			.fontSize(25);
		}
	}
	.item-job-company-name{
		background-color: transparent;
	}
	a{
		&:hover,
		&:focus,
		&:active{
			i{
				.slide-right()
			}
		}
	}
}
.easyPaginateNav{
	text-align: center;
	.page{
		display: none;
	}
	.prev,
	.next{
		display: inline-block;
	}
	i{
		color: @Gris;
		.fontSize(50);
	}
}
/*------------------------------
BOUTONS
--------------------------------*/
.btn-link{
	display: inline-block;
	.Margin(7);
	.MarginBottom(0);
}
.btn-arrow-right{
	background-color: @Bleu-dark;
	border: none;
	color: @white;
	i{
		color: inherit;
		display: inline-block;
		.MarginLeft(15);
	}
	&:hover,
	&:focus{
		background-color: @Bleu-dark;
		color: @white;
	}
}
.btn-id-badge{
	background-color: @Orange;
	border: none;
	i{
		display: inline-block;
		.MarginLeft(15);
	}
	&:hover,
	&:focus{
		background-color: @Orange;
	}
}
.btn-lock{
	background-color: @white;
	border-color: @Bleu-dark;
	i{
		display: inline-block;
		.MarginLeft(15);
	}
	&:hover,
	&:focus{
		background-color: @white;
		border-color: @Bleu-dark;
	}
}
.container-content-page-article{
	a.btn-link{
		.MarginLeft(0);
	}
	a.btn-link + a.btn-link{
		.MarginLeft(7);
	}
}