@media screen and (min-width : 768px){
	h1{
		.fontSize(55);
	}
	h2{

		.fontSize(32);
	}
	h3{
		.fontSize(20);
	}
	p{
		.fontSize(18);
		.lineHeight(24);
		.MarginBottom(16);
		.MarginTop(16);
	}
	.container-article{

	}
	/*------------------------------
	ACCESS ACCOUNT
	--------------------------------*/
	.content-access-account{
		.col-account{
			.PaddingBottom(50);
			.PaddingLeft(100);
			.PaddingRight(100);
			.PaddingTop(50);
		}
	}
	.col-candidats,
	.col-entreprises{
		h2{
			.MarginBottom(30);
			.fontSize(30);
			span{
				display: block;
				.fontSize(50);
			}
		}
	}
	.content-job-offers,
	.content-recruit-company{
		.Padding(40);
		.PaddingLeft(50);
		.PaddingRight(50);
	}
	/*------------------------------
	FOOTER
	--------------------------------*/
	.site-footer-social-navigation-container{
		li{
			&:first-child{
				margin-left: 0;
			}
		}
	}
	.site-navigation-widgets{
		.site-account-navigation{
			li{
				a{
					.PaddingLeft(15);
					.PaddingRight(15);
				}
			}
		}
	}
}