@media screen and (min-width : 992px){
	/*------------------------------
	INITIALISATION ÉLÉMENTS TITRES TEXTES ET BLOCKQUOTES
	--------------------------------*/
	h1{
		.fontSize(55);
	}
	h2{
		.fontSize(32);
	}
	h3{
		.fontSize(20);
	}
	h4{
		.fontSize(16);
	}
	p{
		.fontSize(18);
		.lineHeight(24);
	}
	blockquote{
		.MarginBottom(16);
		.MarginTop(16);
		.fontSize(22);
		.lineHeight(28);
	}


	/*------------------------------
	STRUCTURE
	--------------------------------*/
	.page,
	.single,
	.archive{
		.content-primary{
			.PaddingTop(116);
			.MarginBottom(40);
		}
	}
	.home{
		.content-primay{
			margin-bottom: 0;
		}
	}
	.container-article-primary{
		.PaddingTop(0);
		.PaddingBottom(0);
	}
	.site-navigation-widgets{
		.relative();
		padding-right: 20%;
		z-index: 4;
	}
	.site-header-navigations{
		.relative();
		.MarginTop(-20);
	}

	.site-navigation-widgets{
		background-color: transparent;
		.site-social-navigation-container{
			margin: 0;
			width: auto;
		}
		.site-social-navigation{
			.Height(40);
			li{
				.MarginLeft(10);
				.MarginRight(10);
				.Height(25);
				a{
					color: @Gris;
					display: block;
					.Height(25);
					i{
						color: @Gris;
						&:before{
							display: block;
							.lineHeight(25)
						}
					}
				}
			}
		}
		.site-account-navigation-container{
				border: none;
				width: auto;
				&:after{
					display: none;
				}
				ul.site-account-navigation{
					.Height(40);
					.relative();
					padding: 0;
					.MarginLeft(15);
					border: none;
					li{
						height: inherit;
						a{
							color: @Gris;
							display: block;
							height: inherit;
							.lineHeight(40);
							text-decoration: none;
							text-transform: uppercase;
							.PaddingLeft(10);
							.PaddingRight(10);
						}
						i{
							.fontSize(10);
							&:before{
								.transformR(@r:0deg);
								.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
							}
						}
						.sub-menu-account-on{
							i{
								&:before{
									.transformR(@r:180deg);
								}
							}
						}
					}
					li.compte{
						border: 1px solid @Orange;
						border-top: none;
						a{
							&:first-child{
								.robotoCBold();
								i{
									display: inline;
									color: @Gris;
									.MarginLeft(10);
								}
							}
						}
					}
					ul.sub-menu{
					display: none;
					.transform(@x:0, @y:0);
					.transition(@prop:none, @duration:0s, @ease:ease-in-out);
					.absolute();
					.Top(40);
					width: ~"calc(100% - 2px)";
						li{
							.MarginLeft(-1);
							.MarginRight(-1);
							a{
								.robotoSBold();
								color: @Bleu-dark;
							}
						}
						li.candidats{
							background-color: @Candidats;
						}
						li.entreprises{
							background-color: @Entreprises;
						}
						li.connecte{
							background-color: @Gris-light;
						}
					}
				}
			}
	}

	.site-main-header.header-home{
		background-color: transparent;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		.site-navigation-widgets{
			.site-social-navigation{
				li{
					a{
						color: @white;
						i{
							color: inherit;
						}
					}
				}
			}
		}
		.site-account-navigation-container{
			ul.site-account-navigation{
				li.compte{
					border-color: @white;
					a{
						i{
							color: @white;
						}
					}
					ul.sub-menu{
						li{
							a{
								color: @Bleu-dark;
								i{
									color: inherit;
								}
							}
						}
					}
				}
				li{
					a{
						color: inherit;
						i{
							color: @white;
						}
					}
				}
			}

		}
		#mega-menu-wrap-primary{
			#mega-menu-primary{
				li.mega-menu-item{
					a.mega-menu-link{
						color: @white;
						&:before{
							color: @white;
						}
					}
				}
			}
		}
	}
	.home{
		.content-primary{
			.PaddingTop(200);
			margin: 0;
			height: 615px;
			.relative();
			background-position: center center !important;
			.backgroundcover() !important;
			.featured-image-primary{
				.absolute();
				.Left(0);
				.Top(0);
			}
			.content-article-primary{
				.relative();
				z-index: 4;
				p{
					.MarginTop(60);
					.MarginBottom(0);
				}
				.btn-link-about{
					text-align: left;
				}
				button{
					color: @white;
					.MarginLeft(15);
					padding: 0;
					width: auto;
				}
			}
			a{
				&:hover{
					button{
					.slide-right();
					}
				}
			}
		}
	}
	h1{
		.fontSize(55);
	}
	h2{

		.fontSize(32);
	}
	.page-title-niv2{
		.MarginTop(15);
	}
	h3{
		.fontSize(22);
	}
	p{
		.fontSize(18);
		.lineHeight(24);
		.MarginBottom(16);
		.MarginTop(16);
	}
	.site-navigation-widgets{
		border-top: none;
		padding-right: 2.5%;
	}
	.mega-menu-logo{
		z-index: 9999;
		img{
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
	}
	#mega-menu-wrap-primary{
		#mega-menu-primary{
			padding: 0;
			padding-left: 2%;
			li#mega-menu-item-227{
				margin-right: 1%;
				img{
					.Width(100);
				}
			}
			li.mega-menu-item{
				margin: 0 1%;
				a.mega-menu-link{
					background: none;
					.relative();
					padding: 0;
					.fontSize(14);
					&:before{
						.Bottom(-20);
						.absolute();
						left: 50%;
						.MarginLeft(-5);
					}
				}
				&:first-child{
					.MarginLeft(0);
				}
				&:last-child{
					.MarginRight(-5);
				}
			}
		}
	}
	/*------------------------------
	ACCESS ACCOUNT
	--------------------------------*/
	.content-access-account{
		.col-account{
			.PaddingLeft(65);
			.PaddingRight(65);
		}
	}
	.content-job-offers,
	.content-recruit-company{
		.Padding(40);
		.PaddingLeft(65);
		.PaddingRight(65);
	}
	/*------------------------------
	PAGES
	--------------------------------*/
	.container-article{
		.MarginTop(-95);
		.PaddingTop(15);
		.relative();
	}
	.sidebar-navigation-container{
		background-color: @Orange-light;
		height: 100%;
		.PaddingBottom(15);
		h4{
			text-align: center;
			.MarginBottom(0);
			.MarginLeft(-15);
			.MarginRight(-15);
			.Padding(15);
			.PaddingBottom(0);
			border-bottom: 5px solid @white;
			i{
				text-align: center;
				&:before{
					color: @Orange;
				}
			}
		}
		li{
			.Padding(5);
			a{
				color: @Bleu-dark;
				text-decoration: none;
			}
		}
		li.current_page_item{
			background-color: @white;
			.relative();
			.MarginLeft(-15);
			.MarginRight(-15);
			.PaddingLeft(20);
			&:before{
				content:'';
				display: block;
				background-color: @Bleu-dark;
				.absolute();
				height: 100%;
				.Left(0);
				.Top(0);
				.Width(7);
			}
		}
	}
	.featured-article{
		.Height(385);
	}
	.container-content-page-article{
		.MarginTop(42);
	}
	/*------------------------------
	FOOTER
	--------------------------------*/
	.footer-advertise-ladapt{
		background-position: center top 25px !important;
		background-size: 15% !important;
		.PaddingTop(50);
		.PaddingBottom(50);
	}
	.site-footer-container{
		.footer-widgets{
			.PaddingBottom(45);
		}
	}
	.col-contact{
		.MarginTop(0);
	}
	/*------------------------------
	ARCHIVES ANNONCES OFFRES D'EMPLOI
	--------------------------------*/
	.item-job.item-job-inlist{
		border: none;
		text-align: left;
		.Padding(5);
		margin: 0;
		width: 100%;
		&:nth-child(2n){
			background-color: @Gris-light;
			.MarginTop(5);
			aside,
			header{
				border-right: 2px solid @white;
			}
		}
		aside,
			header{
				border-right: 2px solid @Gris-light;
			}
		h2,
		p,
		i,
		aside,
		header,
		footer{
			line-height: 1;
			.fontSize(18);
			padding: 0;
			margin: 0;
		}
		header{
			.MarginLeft(15);
			.MarginRight(15);
		}
		i{
			&:before{
				.fontSize(25);
			}
		}
		.item-job-company-name{
			background-color: transparent;
		}
		a{
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			&:hover,
			&:focus,
			&:active{
				i{
					.transformX(@x:20px);
				}
			}
		}
	}
}
