@media
	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (min-device-pixel-ratio: 1.3),
	/* only screen and (min-resolution: 120dpi) */{
		body{
			-webkit-background-size: 100% !important;
			-moz-background-size: 100% !important;
			-o-background-size: 100% !important;
			background-size: 100% !important;
		}
		.container-primary{
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
		.content-date,
		.content-market{
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
}