a.btn.edit:hover,
a.btn.edit:focus,
a.btn.edit:active,
a.btn.edit.edit-on,
a.btn.share:hover,
a.btn.share:focus{
	background-color:@Bleu-dark;
}
.body(){
	background: @body;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*------------------------------
LOGIN
--------------------------------*/
.main-inscription{
	.MarginTop(40);
	.checkbox-container,
	.recaptcha-container,
	.validation-container{
		float: left;
		width: 100%;
	}
	.recaptcha-container,
	.validation-container{
		.MarginTop(10);
	}
	.checkbox-container{
		input{
			.MarginRight(5);
		}
	}
	span.obligatory{
		text-transform: lowercase;
	}
}
.page-login{
	.body();
	height: 100vh;
	.header{
		background: none;
		height: auto;
		width: 100%;
		position: static;
		h1{
			text-indent: -999em;
			background: @logo;
			margin: 0 auto;
			.MarginBottom(15);
			.Height(200);
			.Width(200);
		}
		h2{
			color: @white;
			.dosis();
			span{
				color: @white;
				.fontSize(50);
				.lineHeight(45);
				.robotoSBold();
				text-transform: none;
			}
		}
	}
	.featured-log{
		background-color: @white;
		.border-radius(@rad:10px);
		width: 60%;
		label{
			color: @Bleu-dark;
			.robotoCReg();
			.MarginBottom(5);
			width: 100%;
		}
	}
	.log-content{
		.border-radius(@rad:10px);
		border: 1px @Gris-light solid;
	}
	button{
		border-color: @Bleu-dark;
		color: @Bleu-dark;
		margin: 0 auto;
	}
	a.come-back{
		color:@white;
		.PaddingTop(15);
		i{
			color: @white;
			.fontSize(12);
			.MarginRight(10);
		}

	}
	.formulaire input{
		float: none;
		width: auto;
	}
	p.input-block{
		input,
		select{
			width: 100%;
		}
	}
	.dropdown {
		border-color: @Bleu-dark;
		li.active{
			background: @Bleu-dark;
			color: @white;
		}
		li.focus{
			background: @Bleu-dark;
			color: @white;
		}
		li{
			color: @Bleu-dark;
		}
	}
}
.featured-log,
.log-content{
	.Padding(10);
}
.dropdown{
	width: 100%;
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	.robotoCReg();
	color: @Placeholder;
	.fontSize(20);
	line-height: 35px;
	&:after{
		width: 50px;
	}
	.carat{
		top: 50%;
		right:15px;
		margin-top: -10px;
		height: 20px;
		width: 20px;
	}
	.selected,
	li{
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		.fontSize(20);
		.robotoCReg();
		color: @Placeholder;
		line-height: 35px;
		&:after{
			border-radius: 0 5px 5px;
			-webkit-border-radius: 0 5px 5px;
			-moz-border-radius: 0 5px 5px;
			width: 50px
		}
	}
}
.dropdown.open{
	div{
		top: 50px;
	}
}
/*------------------------------
BUTTON
--------------------------------*/
button{
	border-color: @Bleu-dark;
	color: @Bleu-dark;
	margin: 0 auto;
	input[type="submit"],
	input[type="reset"]{
		.robotoSBold();
		background:none;
		border: none;
		color: @Bleu-dark;
		width: auto;
		margin: 0;
		box-shadow: none;
		text-transform: uppercase;
	}
}
.activate-step{
	i{
		.MarginLeft(10);
	}
}
.email-operateur{
	display: block;
	.MarginBottom(40);
	i{
	 	.MarginLeft(10);
	}
}
/*------------------------------
FORM
--------------------------------*/
form{
	background: none;
	padding: 0;
	width: 100%;
}
html{
	input[type="button"]{
	.robotoSBold();
	background:none;
	color: @Bleu-dark;
	width: auto;
	margin: 0;
	box-shadow: none;
	}
}
input[type="submit"],
input[type="button"],
input[type="reset"]{
	.robotoSBold();
	background:none;
	color: @Bleu-dark;
	width: auto;
	margin: 0;
	box-shadow: none;
}
label{
	color: @Bleu-dark;
	.robotoCReg();
	.MarginBottom(5);
	text-align: left;
	width: 100%;
}
.formulaire > p{
	margin: 0;
	text-align: left;
}
/*------------------------------
DROPDOWN
--------------------------------*/
.dropdown:hover,
.dropdown:hover::after{
	border-color: @Bleu-dark;
}
.dropdown:hover,
.dropdown:hover::after{
	border-color: @Bleu-dark;
}
.dropdown.focus:after{
	background: none;
}
/*------------------------------
DROPDOWN ENTREPRISES
--------------------------------*/
.cv-entreprises{
	.dropdown{
		width: 250px;
		border-color: @Entreprises;
		margin-right: 20px;
	}
	.dropdown:after{
		border-left-color: @Entreprises;
		content: '';
	}
	.dropdown .carat{
		background: url("@{pathprofilscreening}/svg/dropdown-entreprise.svg") no-repeat center center;
	}
	.dropdown .selected,
	.dropdown li{
		display: block;
		font-size: 16px;
		font-size: 1rem;
		line-height: 1;
		padding: 10px;
		overflow: hidden;
		white-space: nowrap;
		color: #919290;
		font-family: @robotoS;
	}
	.dropdown li.focus{
		background:@Entreprises;
		color: @white;
	}

	.dropdown li.active{
		background: @Entreprises;
		color: @white;
	}
}
/*------------------------------
DROPDOWN CANDIDATS
--------------------------------*/
.cv-candidats{
	.dropdown{
		width: 250px;
		border-color: @Candidats;
		margin-right: 20px;
	}
	.dropdown:after{
		border-left-color: @Candidats;
		content: '';
	}
	.dropdown .carat{
		background: url("@{pathprofilscreening}/svg/dropdown-candidat.svg" ) no-repeat center center;
	}
	.dropdown .selected,
	.dropdown li{
		display: block;
		font-size: 16px;
		font-size: 1rem;
		line-height: 1;
		padding: 10px;
		overflow: hidden;
		white-space: nowrap;
		color: #919290;
		font-family: @robotoS;
	}
	.dropdown li.focus{
		background:@Candidats;
		color: @white;
	}

	.dropdown li.active{
		background: @Candidats;
		color: @white;
	}
}
/*------------------------------
HEADER
--------------------------------*/
.header{
	.Height(135);
}
.navInner{
	.Height(135);
	.Width(135);
}
.header.navThin,
.navInner.navThin,{
	.Height(80);
}
.navThin{
	.logo{
		.Height(135);
	}
}
/*------------------------------
FOOTER
--------------------------------*/
.footer-inscriptions{
	.MarginTop(20);
	text-align: center;
	a{
		color: @white;
		display: block;
		padding: 0;
		.MarginBottom(40);
	}
	a.forget-password{
		margin: 0;
		i{
			.MarginLeft(10);
			&:before{
				color: @white;
			}
		}
	}
}
.footer{
	.MarginTop(40);
	p.baseline{
		color: @white;
		.robotoCBold();
		margin: 0 auto;
		width: 81.35%;
	}
}
.btn_up{
	&:hover,
	&:focus{
		background-color: @Bleu-dark;
	}
}
.cv-candidat{
	.btn_up{
		&:hover,
		&:focus{
			background-color: @Candidats;
		}
	}
}
.cv-entreprise{
	.btn_up{
		&:hover,
		&:focus{
			background-color: @Entreprises;
		}
	}
}
/*------------------------------
FORGET PASSWORD
--------------------------------*/
.forget-pass-resume{
	text-align: center;
}
.page-login{
	button.btn-new-pass{
		.MarginTop(20);
	}
}
.recaptcha-pass{
	div{
		&:first-child{
			margin: 0 auto;
		}
	}
}
/*------------------------------
NAVIGATION
--------------------------------*/
.menu-header{
	li{
		color: @Bleu-dark;
		a{
			.robotoSReg();
			.fontSize(16);
			color: @Bleu-dark;
			border: none;
			&:before{
				display: none;
			}
		}
		&:hover{
			a{
				color: @Bleu-dark;
				&:before{
					display: none;
				}
			}
		}
	}
}
/*------------------------------
CANDIDATS
--------------------------------*/
.cv-candidat{
	a.btn.edit,
	a.btn.share{
		&:hover{
			background-color: @Candidats;
		}
	}
	.tabs{
		li{
			a{
				&:before{
					background-color: @Candidats;
				}
			}
		}
	}
	a.tab1,
	a.tab2,
	a.tab3,
	a.tab4,
	a.tab5,
	a.tab6,
	a.tab1.activate,
	a.tab2.activate,
	a.tab3.activate,
	a.tab4.activate,
	a.tab5.activate,
	a.tab6.activate{
		background: none;
		position: relative;
		&:after{
			content: '';
			display: block;
			background-position: center center !important;
			background-size: 100% !important;
			.Height(50);
			.Width(50);
			.Right(15);
			top: 50%;
			.MarginTop(-25);
			position: absolute;

		}
	}
	a.tab1{
		&:after{
			background: url("@{pathprofilscreening}/svg/presentation-blc.svg") no-repeat;
		}
	}
	a.tab1.activate{
		&:after{
			background: url("@{pathprofilscreening}/svg/presentation.svg") no-repeat;
		}
	}
	a.tab2{
		&:after{
			background: url("@{pathprofilscreening}/svg/competences-blc.svg") no-repeat;
		}
	}
	a.tab2.activate{
		&:after{
			background: url("@{pathprofilscreening}/svg/competences.svg") no-repeat;
		}
	}
	a.tab3{
		&:after{
			background: url("@{pathprofilscreening}/svg/synthese-blc.svg") no-repeat;
		}
	}
	a.tab3.activate{
		&:after{
			background: url("@{pathprofilscreening}/svg/synthese.svg") no-repeat;
		}
	}
	a.tab4{
		&:after{
			background: url("@{pathprofilscreening}/svg/document-blc.svg") no-repeat;
		}
	}
	a.tab4.activate{
		&:after{
			background: url("@{pathprofilscreening}/svg/document.svg") no-repeat;
		}
	}
	a.tab5{
		&:after{
			background: url("@{pathprofilscreening}/svg/resume-blc.svg") no-repeat;
		}
	}
	a.tab5.activate{
		&:after{
			background: url("@{pathprofilscreening}/svg/resume.svg") no-repeat;
		}
	}
	a.tab6{
		&:after{
			background: url("@{pathprofilscreening}/svg/password-blc.svg") no-repeat;
		}
	}
	a.tab6.activate{
		&:after{
			background: url("@{pathprofilscreening}/svg/password.svg") no-repeat;
		}
	}
}
/*------------------------------
MODIF PROFIL CANDIDAT
--------------------------------*/
.featured-profil-modif{
	.content-tab{
		width: 100%;
	}
	.dropdown {
		border-color: @Bleu-dark;
		li.active{
			background: @Candidats;
			color: @Bleu-dark;
		}
		li.focus{
			background: @Candidats;
			color: @Bleu-dark;
		}
		li{
			color: @Bleu-dark;
		}
	}
}
.setup-panel{
	li{
		margin: 0;
		background-color: @Gris-light;
		text-transform: uppercase;
		.fontSize(18);
		height: 40px;
	}
	li.col-step-2{
		border-left: 2px solid @white;
		border-right: 2px solid @white;
	}
	li.active{
		background-color: @Bleu-dark;
		a{
			color: @white;
			span{
				color: inherit;
			}
		}
	}
	a{
		height: 100%;
		.robotoSBold();

		color: @Gris-moyen;
		span{
			.MarginLeft(10);
			color: inherit;
			.robotoCReg();
		}
	}
}
.setup-content{
	background-color: @white;
	.formulaire{
		padding: 30px;
		label,
		input{
			float: none;
			width: 100%;
		}
		input[type="file"]{
			background: none;
			border: none;
		}
		.col-file{
			.imput-button{
				position: relative;
				input[type="file"]{
					cursor: pointer;
					position: absolute;
				}
			}
		}
	}
}
.container-intro-modif-profil{
	.image-featured{
		&:after{
			display: none;
		}
	}
}
.featured-profil-modif{
	margin-top: -40px;
}
.col-file{
	&:nth-child(2){
		background-color: @Gris-light;
	}
}
.content-circle{
	.Height(150);
	.Width(150);
	overflow: hidden;
	.border-radius(@rad:100%);
	img{
		width: 100%;
		height: 100%;
	}
}

/*------------------------------
PAGE
--------------------------------*/
.featured{
	.PaddingTop(135);
}
.page .image-featured h1{
	.fontSize(55);
}
.cv-candidat .featured-inscription h3,
.cv-entreprises .featured-inscription h3,
.cv-operateurs .featured-inscription h3{
	.fontSize(25);
}
.cv-candidat{
	.image-featured{
		background-image: none;
		padding: 0;
		.MarginTop(40);
		height: auto;
		min-height: 175px;
		.PaddingBottom(40);
	}
}
.ref{
	height: auto;
	li{
		float: left;
		width: 100%;
		border-bottom: 1px dashed;
	    color: @gris-7;
	    font-family: @robotoC;
	    .lineHeight(28);
	    .fontSize(24);
	    .MarginBottom(5);
		.PaddingBottom(5);
		&:last-child{
			color: @gris-7;
			font-family: @robotoC;
			font-weight: 100;
			border: none;
			margin: 0;
		}
	}
}
.maj{
	.PaddingTop(5);
}

