html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
p{
	a{
		text-decoration: underline;
	}
}
input[type="submit"],
input[type="button"],
input[type="reset"],
input,
button{
	.robotoSBold();
	 background: none;
	 border: 1px solid @Bleu-dark;
	 .border-radius(@rad:25px);
	 color: @Bleu-dark;
	 .Padding(0);
	 min-height: 55px;
	 min-width: 55px;
	 .PaddingLeft(15);
	 .PaddingRight(15);
	 text-transform: uppercase;
	 &:hover{
		 background: none;
	 }
	 &:focus{
		 background: none;
	 }
	 i{
		 color: @Bleu-dark;
	 }
}
input[type="checkbox"]{
	margin-top: 0;
	min-width: 30px;
	min-height: 30px;
	float: left;
}
img{
	max-width: 100%;
	height: auto;
}
.site-main{
	margin: 0;
}
.site-inner{
	margin: 0 auto;
}
* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}