* {margin:0;padding:0}
html, body {height:100%}
body {background:#fff;font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1.25em;color:#4a4a4a}
img {border:0;vertical-align:top;text-align:left}
object {vertical-align:top;outline:none}
ul, ol {list-style:none}
.fleft {float:left}
.fright {float:right}
.clear {clear:both}
.col-1, .col-2, .col-3 {float:left}
.alignright {text-align:right}
.aligncenter {text-align:center}
.wrapper {width:100%;overflow:hidden}
/* GLOBAL*/
.container {width:960px;margin:0 auto;font-size:.875em;position:relative}
#header {height:150px;background:url(../images/header-tail.gif) 0 0 repeat-x #f7f7f7}

.screen-reader-text{display:none;}
#content {background:#fff; }
#content .aside {width:269px;float:left;margin-right:49px}
#content .left {width:269px;float:left;}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
#content .mainContent {float:right;width:660px; text-align:justify;}
#footer {background:url(../images/footer-bg.gif) 0 0 repeat-x #f2f2f2;text-align:center;padding:45px 0}
/* tailings */
.tail-top {background:url(../images/tail-top.gif) left top repeat-x #ffbb00}
.tail-bottom {background:url(../images/tail-bottom.gif) left bottom repeat-x}
/* forms parameters */
input, select, textarea {font-family:Arial, Helvetica, sans-serif; font-size:1em;vertical-align:middle;font-weight:normal}
/* other */
.img-indent {margin:0 20px 0 0;float:left}
.video-box {width:100%;overflow:hidden;padding-bottom:12px}
.video-box video {float:left;margin:0 20px 0 0}
.extra-wrap {overflow:hidden}
p {margin-bottom:20px}
.p1 {margin-bottom:10px}
.p2 {margin-bottom:20px}
.p3 {margin-bottom:30px}
/* txt, links, lines, titles */
a {color:#d60c0c;outline:none}
a:hover {text-decoration:none}
h1 {font-size:36px;line-height:1.2em;color:#d60c0c;font-weight:600;margin-bottom:22px}
h1 span {display:block;font-size:30px;line-height:1.2em;color:#4a4a4a;margin-top:-10px}
h1 em {display:block;font-style:normal;font-size:24px;line-height:1.2em;color:#919191}
h2 {font-size:36px;line-height:1.2em;margin-bottom:10px;}
.inner h3{background:url(../images/arrow1.gif) no-repeat 0 7px;padding:0 0 12px 19px;font-size:20px; color:#fff; }
.inner h2 {font-size:18px !important ;line-height:1.2em;margin-bottom:10px;}
.inner .searchsubmit2 {background:url(../images/send-button.gif) no-repeat 0 0;width:160px;height:34px;border:none;color:#fff;font-size:14px;cursor:pointer}
.inner h4 {font-size:15px !important ;line-height:1.2em;margin-bottom:10px;color:#fff !important;text-transform:uppercase;text-align:bold;}

h2 em {font-size:14px;color:#838383;display:block;text-transform:uppercase;margin-top:-17px;font-weight:400}
h3 {font-size:30px;line-height:1.2em;color:#4a4a4a;font-weight:400;margin-bottom:20px}
h4 {font-size:1em;color:#d60c0c;margin-bottom:8px}
h5 {font-size:1em;color:#d60c0c}
h6 {font-size:1em}
.txt1 {color:#d60c0c}
.txt2 {}
.link1 {display:block;float:left;background:url(../images/link1-bg.gif) left top repeat-x;color:#383838;text-decoration:none;text-shadow:1px 1px 0 #eee}
.link1:hover {text-decoration:underline}
.link1 em {display:block;background:url(../images/link1-left.gif) no-repeat left top}
.link1 b {display:block;background:url(../images/link1-right.gif) no-repeat right top;padding:8px 15px 8px 15px;font-weight:normal; font-style:normal}
.button {float:left;width:137px;height:40px;line-height:40px;color:#fff;text-align:center;text-decoration:none;background:url(../images/button.gif) no-repeat 0 0}
.button:hover {text-decoration:underline}
.line-hor {background:#3a3c52;height:1px;overflow:hidden;font-size:0;line-height:0;margin:20px 0 20px 0}
.line-ver {background-image:url(../images/line-ver.gif);background-repeat:repeat-y;width:100%}
.title {margin-bottom:20px}
/* boxes */
.box {background:#f7f7f7;padding:30px 35px 36px 40px}
.box1 {background:url(./images/box1-bg.gif) no-repeat 100% 100% #b40303;padding:17px 18px 21px 19px;color:#ffd2d2}
.box1 h4 {font-size:1em;color:#fff}
.address {float:left}
.address dt {margin-bottom:16px}
.address dd {clear:both;text-align:right}
.address dd span {float:left;padding-right:25px}
/* header*/

#header .logo {position:absolute;left:8px;top:20px}
#header .droit {width:269px;height:150px;float:left;}
.ander_logo img{ width:269px;height:49px;padding-top:110px;}
#header .menu-navigation-container {width:689px;float:right;}
.menu{width:689px;float:right;}
#header #menu-navigation {position:absolute;right:0;top:91px}
#header #menu-navigation li {float:left;padding:20px 10px 15px 30px}
#header #menu-navigation li a {float:left;color:#3c3c3c;text-decoration:none;font-size:17px;text-transform:uppercase;font-weight:400}
 
#header #menu-navigation li a:hover,#header .menu-navigation li:hover , #header .menu-navigation li a.current { color:#d60c0c;background:#F7F7F7;  }
 
.extra-box {background:url(../images/header-box.jpg) no-repeat 0 0;position:block;left:0; width:269px;height:413px;color:#fff;float:left;}
.extra-box .inner {padding:0px 28px 0 37px;text-decoration:none;}
.inner ,.inner  fieldset{border:none !important;}
.inner    input {
  width: 200px;
  height:30px;
  line-height:20px;
  padding: 2px 2px 2px 5px;
  margin-left:12px; 
   
}.recherche{
  margin:auto;
  margin-top:4%;
  width:600px;
  height:500px;
  box-shadow: 4px 4px 14px #aaa;
  border-radius:8px;
  backgound:#ffffff;
  border:none;
}
.recherche2{
  margin:auto;
  margin-top:4%;
  width:600px;
  height:250px;
  box-shadow: 4px 4px 14px #aaa;
  border-radius:8px;
  backgound:#ffffff;
  border:none;
}
.extra-box h2 {font-size:24px;line-height:1.2em;text-transform:uppercase;font-weight:600;margin-bottom:25px}
.extra-box h2 span {display:block;font-size:16px;line-height:1.2em}
.extra-box ul {padding-bottom:25px}
.extra-box ul li {background:url(../images/arrow1.gif) no-repeat 0 7px;padding:0 0 12px 19px}
.extra-box ul li a {color:#ffd2d2}
.tab-head0{background:#d60c0c;color:#fff;font-family: 'font/titillium_webbold', Sans-serif;padding-left:20px; font-size:13px !important; float:left;width:100%;font-weight:bold}

.tab-head{background:#d60c0c;color:#fff;font-family: 'font/titillium_webbold', Sans-serif;padding-left:20px; font-size:13px !important; float:left;width:315px;font-weight:bold}
.profil-video{float:left;width:315px; }
.left-col{float:left;width:295px;padding-right:15px; text-align:left}
.right-col{float:left;width:315px; padding-left:15px;}
.list-caract{float:left;width:100%;padding-top:25px ; }
.tab-head2{ background:#ccc;  color:#fff; padding-left:20px; font-size:13px !important; float:left; font-weight:bold}
legend{font-size:10px !important;}
.tab-cell ul {padding-bottom:25px}

.tab-cell li{background:url(../images/arrow2.gif) no-repeat 0 7px;padding:0 0 12px 19px}

.intro-text {position:block;left:317px;width:260px;padding-top:20px;height:230px;}
.annim{float: right;height:319px;   }
.intro-text p {width:250px;}
.mainContent h1 {font-size:26px;line-height:1.2em;color:#d60c0c;font-weight:600;text-align:center;padding-top:10px; }
.mainContent h1 em {display:block;font-style:normal;font-size:20px;line-height:1.2em;color:#919191}

/* content */
#content .indent {padding:0 20px 30px 37px}
#content .article { }
.list1 li {background:url(../images/arrow2.gif) no-repeat 0 7px;padding:0 0 11px 18px}
.list1 li a {color:#d60c0c}
.list1 ul {margin:13px 0 -7px 0}
.projects {overflow:hidden;margin-bottom:-20px}
.projects li {width:100%;overflow:hidden;padding-bottom:20px}
.projects li img {float:left;margin-right:20px}
/* footer*/
#footer {color:#5c5c5c}
/* forms */
#search-form {position:absolute;right:37px;top:34px}
#search-form fieldset {border:none;display:inline}
#search-form input.text {width:195px;padding:3px 0 3px 5px;border:1px solid #d2d2d2;background:#fff;margin-right:8px}
#search-form input.submit {background:url(../images/submit-bg.gif) no-repeat 0 0;width:79px;height:34px;border:none;color:#fff;font-size:14px;cursor:pointer}
#search-form input#searchsubmit {background:url(../images/submit-bg.gif) no-repeat 0 0;width:79px;height:34px;border:none;color:#fff;font-size:11px;cursor:pointer}
#search-form input#s {width:210px;padding:3px 0 3px 5px;border:1px solid #d2d2d2;background:#fff;margin-right:8px; }

#login-form fieldset {border:none}
#login-form .field {height:63px}
#login-form input.text, #login-form input.password {width:180px;border:1px solid #dedede;padding:4px 7px 4px 5px}
#user_login,#user_pass{width:180px;border:1px solid #dedede;padding:4px 7px 4px 5px}
#wp-submit{background:url(../images/login.gif) no-repeat 0 0;width:75px;height:34px;border:none;color:#fff;cursor:pointer;text-align:center;line-height:34px;font-size:11px;}

#login-form .submit {background:url(../images/login.gif) no-repeat 0 0;width:73px;height:34px;border:none;color:#fff;cursor:pointer;text-align:center;line-height:34px}
#login-form .fright {line-height:34px}
#login-form #checkbox {margin-right:10px;line-height:34px}
#contacts-form {clear:right;width:100%;overflow:hidden}
#contacts-form fieldset {border:none;float:left}
#contacts-form .field {clear:both}
#contacts-form label {float:left;width:123px;line-height:18px;padding-bottom:6px;font-weight:bold}
#contacts-form input {width:265px;padding:1px 0 1px 3px;background:none;border:1px solid #e5e5e5;color:#616161;float:left}
#contacts-form textarea {width:470px;height:325px;padding:1px 0 1px 3px;background:none;border:1px solid #e5e5e5;color:#616161;margin-bottom:12px;overflow:auto;float:left}
#contacts-form .button {background:url(../images/send-button.gif) no-repeat 0 0;width:160px;line-height:34px;float:right}
/*************/

/*
SLIDER
--------------------------------*/
#slider-wrapper{
margin: 0 0 2em 0;
}

#slider li{
overflow: hidden;
width: 650px;
float:right;
}
 
/*-------LÉGENDE---------*/  

.slideTitle{
bottom: 0;
padding: 10px;
position: absolute;
width: auto;
}

#slide1{
background: rgba(100,193,209,.8);
}

#slide2{
background: rgba(145,184,65,.8);
}

#slide3{
background: rgba(129,59,113,.8);
}

.legend {
float: left;
height: 180px;
position: relative;
width: 200px;
}
.legend  h4{ color:#fff; font-size:16px;}
.legend  .button {float:right;width:137px;height:40px;line-height:40px;color:#fff;text-align:center;text-decoration:none;background:url(../images/button.gif) no-repeat 0 0}

.slideTitle a:hover{
opacity: .7;
}
 
/*
NAV SLIDER
------------------------------*/
.rslides_tabs{
float: right;
height: 2.5em;
margin: 1%;
padding: 0;
width: 76px;
}

.rslides_tabs li{
display: block;
background:#d4c13f;
float: left;
text-indent: -99999em;
margin: 0 10px 0 0;
height: 15px;
width: 15px;
/**/
border-radius: .5em;
}
.rslides_tabs li a{
display: block;
background:#d4c13f;
float: left;
text-indent: -99999em;
margin: 0 10px 0 0;
height: 15px;
width: 15px;
}
 
.rslides_tabs li a:hover, .rslides_tabs li.rslides_here a{
background:#e1312c;
}
/*********************  tab ***************/

ul#tabnav {
    font: bold 11px verdana, arial, sans-serif;
    list-style-type: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #E1312C;
    margin: 0;
	font-size:10px;
	width:100%	; 
	float: left;
}

ul#tabnav li {
    float: left;
    height: 21px;
    background-color: #E1312C;
	color:#fff;
    margin: 2px 2px 0 2px;
    border: 1px solid #E1312C;
}

ul#tabnav li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

ul#tabnav li.active a {
    color: #000;
}

#tabnav a {
    float: left;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 4px;
}

#tabnav a:hover {
    background: #000; 
	color: #fff !important;
}
/*******************************************************************************/
#portrait {
    float: left;
    height: 17em;
   padding: 15px;
    
}
#cv h5 {
    width: 65%;
	font-size:18px;
	color:#000;
	padding:  10px 2px  10px  0px;
}
#cv h4 {
    width: 65%;
	font-size:16px;
	color:#999;
	 
}
  #cv h6 {	
    color:#000;
  
  line-height: 0.8;
 
	font-size:11px;
	 
}
 
#ref {
    border-bottom: 1px dashed #8C8C8C;
    border-top: 1px dashed #8C8C8C;
    float: left;
    margin: 1.5em 0px 0px;
    padding: 1em 0px;
  	float: left;
}
#ref2 {
    border-bottom: 1px dashed #8C8C8C;
    border-top: 1px dashed #8C8C8C;
    float: left;
    margin: 1.5em 0px 0px;
    padding: 1em 0px;
  	float: left;
}
#cv {
    padding: 2em;
	width:100%;
	display:relative;
	
}
 
#ref li {
    color: #8B8A86;
	float: left;
	font-size:14px;
    font-family: "font/robotoregular",sans-serif;
}
#ref2 li {
    color: #8C8C8C !important;
		font-size:14px;	
	float: right !important;
    font-family: "font/robotoregular",sans-serif;
}
#ref2 li a{
    color: #8C8C8C;
	float: right !important;
	font-size:14px;
    font-family: "font/robotoregular",sans-serif;
}
#ref li:last-child {
    background: none repeat scroll 0px 0px #E1312C;
    color: #FFF;
    display: block;
    float: right;
    line-height: 1;
    padding: 0.35em;
    text-align: center;
	font-size:12px;
}

#tab {
    padding: 2em;
	width:100%	;
	display:block;
	
}
#tab p {
     
    list-style-type: none;
    padding-bottom: 2px;
 
    margin: 0;
	font-size:12px;
	width:100%	; 
	float: left;
}