.textdate2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}

.style_rouge {
	text-decoration:none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size:11px;
	color:#FF0000;
}

.textsommaire  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFC300;
	text-decoration: none;
}

.titreactu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #CC3300;
	text-decoration: none;
}

.texte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.textpetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.texte2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.texte-gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}


.texte-gris-petit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}

.texte-blanc-petit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.texte-blanc-petit-nongras {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight:normal;
	color: #ffffff;
	text-decoration: none;
}

.texte-gris-petit-nongras {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px; 
	font-weight:normal;
	color: #333333;
	text-decoration: none;
}

.texte-gris-petit-petit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}

.textbleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6B9DE2;
	text-decoration: none;
}

.textbleufin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #407ABC;
	text-decoration: none;
}

.textbleufonce {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #407ABC;
	text-decoration: none;
}

.textdate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}


.gristext {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color:#333333 ;text-decoration:none;}
A.gristext {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #333333;text-decoration:none;}
A.gristext:visited {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #333333;text-decoration:none;}
A.gristext:hover {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #333333;text-decoration:none;}

.breadcrumb {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}

.breadcrumb a{
background: transparent url(media/breadcrumb.gif) no-repeat center right;
text-decoration: none;
padding-right: 18px; /*adjust bullet image padding*/
color: navy;
}

.breadcrumb a:visited, .breadcrumb a:active{
color: navy;
}

.breadcrumb a:hover{
text-decoration: underline;
}
